SPRING_PROFILES_ACTIVE=prod

SERVER_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=roadmap_tracker
DB_USER=roadmap_user
DB_PASSWORD=change_me

JWT_SECRET=change_me_super_long_random_secret_min_32_characters
JWT_EXPIRATION_SECONDS=86400

APP_CORS_ALLOWED_ORIGINS=https://tracker.tudominio.com,http://localhost:5173

APP_USER_1_EMAIL=correo1@gmail.com
APP_USER_1_PASSWORD_HASH=$2a$10$...

APP_USER_2_EMAIL=correo2@gmail.com
APP_USER_2_PASSWORD_HASH=$2a$10$...

APP_USER_3_EMAIL=correo3@gmail.com
APP_USER_3_PASSWORD_HASH=$2a$10$...
